@import 'spacing';
@import 'colors';

@mixin border-concave ($radius: $border-radius) {
  border: $border-thickness solid;
  border-top-color: $frame-shadow;
  border-right-color: $frame-shadow;
  border-bottom-color: $frame-highlight;
  border-left-color: $frame-highlight;
  border-radius: $radius;
}

@mixin border-convex ($radius: $border-radius) {
  border: $border-thickness solid;
  border-top-color: $frame-highlight;
  border-right-color: $frame-highlight;
  border-bottom-color: $frame-shadow;
  border-left-color: $frame-shadow;
  border-radius: $radius;
}