@mixin container-row ($justification) {
  display: flex;
  flex-direction: row;
  justify-content: $justification;
  align-items: center;
}

@mixin container-column ($justification) {
  display: flex;
  flex-direction: column;
  justify-content: $justification;
  align-items: center;
}