#main-canvas {
    background-image: url("../assets/room/living-room-scaled.png");
    background-size: cover;
    z-index: 0;
}

#main-canvas-container {
    background-image: url("../assets/room/living-room-blurred.png");
    background-size: cover;
    z-index: 0;
}

#secondary-canvas-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-overlay {

    position: absolute;
    z-index: 1;

    visibility: hidden;

    min-height: 40vw;
    min-width: 40vw;

    width: 60vw;
    height: 80vh;

    max-width: 70vw;
    max-height: 87.5vh;

    background-color: var(--frame-color);
    border: 5px solid;
    border-top-color: var(--frame-highlight);
    border-right-color: var(--frame-highlight);
    border-bottom-color: var(--frame-shadow);
    border-left-color: var(--frame-shadow);
    border-radius: 50px;

}

.canvas-overlay canvas {
    background-color: #333;
    border-radius: 15px;
    border: 5px solid;
    border-top-color: var(--frame-shadow);
    border-right-color: var(--frame-shadow);
    border-bottom-color: var(--frame-highlight);
    border-left-color: var(--frame-highlight);
}

#message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;

    visibility: hidden;

    min-width: 30vw;
    min-height: 30vw;
    max-width: 30vw;
    max-height: 30vw;

    background-color: var(--frame-color);
    border: 5px solid;
    border-top-color: var(--frame-highlight);
    border-right-color: var(--frame-highlight);
    border-bottom-color: var(--frame-shadow);
    border-left-color: var(--frame-shadow);
    border-radius: 50px;
}

#win-message, #lose-message {
    visibility: hidden;
    font-size: 2.5vw;
    text-align: center;
}

#win-message h3, #lose-message h3 {
    margin: 3%;
    width: 100%;
}