canvas {
    background-image: url("../assets/room/living-room-scaled.png");
    background-size: cover;
    z-index: 0;
}

#canvas-container {
    background-image: url("../assets/room/living-room-blurred.png");
    background-size: cover;
    z-index: 0;
}

body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

h2 {
    margin-block-start: 10px !important;
    margin-block-end: 10px !important;
}

h3 {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-family: 'Coiny', cursive;
    font-size: 1.4em;
}


.fullscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 10vw;
    background-color:  #3b255b;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vw;
    width: 7vw;
    background-color: #613b96;
    border: 5px solid #342548;
    border-radius: 2vw;
}

.button img {
    height: 70%;
    margin-top: 5%;
}

.button h2 {
    margin: 0;
}

.button * {
    opacity: 40%;
}

.button:hover {
    border: 5px solid black;
    cursor: pointer;
}

.button:hover * {
    opacity: 100%;
}

.game-screen {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    position: absolute;
    z-index: 1;
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #8f49ff;
    border: 5px solid;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: #4d268d;
    border-left-color: #4d268d;
    border-radius: 50px;

    visibility: hidden;
}

#menu-exit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin: 3%;
    background-color: red;

    border: 5px solid #680000;
    border-radius: 15px;
}

#menu-exit img {
    width: 90%;
    height: 90%;
    opacity: 60%;
}

#menu-exit:hover {
    border: 5px solid black;
    cursor: pointer;
} 

#menu-exit:hover img {
    opacity: 100%;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 100%;
    max-width: 100%;
}

.stat-panel {
    display: flex;
    flex-direction: row;
    justify-content: start;

    width: 100%;
    width: 100%;
}

.stat-list {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.stat-label {
    margin-right: 20px;
    font-family: 'Coiny', cursive;
    font-size: 1.7em;
    text-shadow: 0.05em 0.05em white;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pet-image-container {
    min-width: 400px;
    min-height: 300px;
    margin: 5% 5% 0% 5%;
}

.stat-container {
    color: white;
    background-color: #333;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;

    border: 5px solid;
    border-top-color: #4d268d;
    border-right-color: #4d268d;
    border-bottom-color: white;
    border-left-color: white;
}

.stat-info-container {
    width: 70%;
    border-radius: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.7em;
}

.stat-icon-container {
    border-radius: 10px;
}

.stat-bar-list {
    margin-top: 0%;
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 50px;
}

.stat-bar-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.stat-bar {
    flex-grow: 1;
    width: 100%;
    padding: none;
}