body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

h2 {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

h3 {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-family: 'Coiny', cursive;
    font-size: 1.4em;
}

p {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.fullscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.game-screen {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 10vw;
    background-color:  var(--frame-color);
}

#bar-left {
    border-right: 5px solid var(--frame-highlight);
}

#bar-right {
    border-left: 5px solid var(--frame-shadow);
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vw;
    width: 7vw;
    background-color: var(--button-background);
    border: 5px solid;
    border-top-color: var(--frame-shadow);
    border-right-color: var(--frame-shadow);
    border-bottom-color: var(--frame-highlight);
    border-left-color: var(--frame-highlight);
    border-radius: 2vw;
}

.button img {
    height: 70%;
    margin-top: 5%;
}

.button h2 {
    margin: 0;
}

.button * {
    opacity: 40%;
}

.button:hover {
    cursor: pointer;
}

.button:hover * {
    opacity: 100%;
}

.selection-icon {
    margin: 1%;
    width: 23%;
}

.selection-icon img {
    margin: 1%;
    width: 98%;
}

.selection-icon h3 {
    text-align: center;
}